{# @var \Sylius\Component\Core\Model\CustomerInterface customer #}
{# @var \Nextstore\SyliusGiftCardPlugin\Model\GiftCardInterface giftCard #}
{% extends '@SyliusAdmin/Email/layout.html.twig' %}

{% block subject %}{{ 'nextstore_sylius_gift_card.email.new_gift_card'|trans }}{% endblock %}

{% block content %}
    {# This needs to be imported here since the rendering of emails only take the block to render it. Not whole template #}
    {% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
    <p>{{ 'nextstore_sylius_gift_card.email.new_gift_card_intro'|trans }}</p>

    <b>{{ giftCard.code }}</b> ({{ 'nextstore_sylius_gift_card.email.balance'|trans }}: {{ money.convertAndFormat(giftCard.amount) }})<br>
{% endblock %}
